/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/

  body {
background-color: cadetblue;
}

h1 {
  background-color: darkolivegreen;
  padding: 40px;
  text-align: center;
}

p {
  background-color: lightgreen;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
